html{
  width:100%;
  height:100%;
}

body {
  padding: 0;
}

.ios_mock_wrapper {
  width:375px;
  height:647px;
  border:1px solid black;
}

.sidebar {
    position : absolute;
    top : 0;
    left : -160px;;
    transition : 100ms left;
}

#navigation-toggle {
        position : absolute;
        left : 160px;
}

.show {
    left : 0;
}

.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}

.navigation-items a {
    display : block;
    background-color : #444;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 160px;
}

.navigation-items a:hover {
    background-color : #222;
}



/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
 /* .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }*/
  /* Space out the masthead */
  /*.header {
    margin-bottom: 30px;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
 /* .jumbotron {
    border-bottom: 0;
  }
}*/
