<div class="ios_mock_wrapper ">
   


<div ng-controller="SidebarController" class="sidebar" sidebar-directive="state">    
    <button type="button" id="navigation-toggle" class="btn btn-default" ng-click="toggleState()">NAV</button>
    <ul class="navigation">
        <li class="navigation-items"> <a href="/">Link1</a> </li>
        <li class="navigation-items"> <a href="/">Link2</a> </li>
        <li class="navigation-items"> <a href="/">Link3</a> </li>
        <li class="navigation-items"> <a href="/">Link4</a> </li>
        <li class="navigation-items"> <a href="/">Link4</a> </li>
    </ul> <!-- navigation -->



</div><!-- sidebar controller -->


<!-- 
    <div class="input-group" ng-repeat="todo in todos">
        <input type="text" ng-model="todo" class="form-control" />
        <span class="input-group-btn">
            <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
        </span>

    </div> -->
 
</div>
